.detail-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(134, 128, 128);
  box-sizing: border-box;
  padding: 5px;
}
.detail-container:last-child {
  border-bottom: none;
}
.detail-container i {
  margin-left: 15px;
}
.description-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.description-wrapper {
  margin: 10px;
}
.description-wrapper h3 {
  margin: 0;
}
.user-header {
  margin-left: 10px;
  font-size: 1.05em;
  font-weight: 580;
}
